#grid-container {
    display: grid;
}

.cell {
    border-color: yellow;
    background-color: grey;
}

.cell_0 {
    background-color: green;
}

.cell_end {
    background-color: palevioletred;
}

.good {
    padding: 5px;
    background-color: burlywood;
}

.way {
    padding: 5px;
    background-color: green;
}